.Loading {
  width: 80px;
  height: 80px;
  display: inline-block;
  border: 10px solid #ff5a001c;
  border-top: 10px solid #ff9600;
  border-radius: 50%;
  animation: rotate .6s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
